/** 全局样式 **/
*{
	margin:0px;
	padding:0px;
}
body{
	font-size:18px;
}
li{
	list-style:none;
}
a{
	color:#000;
	text-decoration: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear{
	clear:both
}


/** index.html **/
.header{
	width:1200px;
	margin:0px auto;
}
.logo{
	width:100%;
	height:56px;
	margin:20px 0px;
}
.logoleft{
	width:238px;
	height:56px;
	
}
.logoright{
	width:259px;
	height:27px;
}
.menu{
	width:100%;
	height:50px;
}
.menubtn{
	width:242px;
	height:50px;
	/**background:url(../img/course_menu_bg.png) no-repeat;**/
	background-image: url(../img/course_menu_bg.png);
	background-repeat: no-repeat;
	padding-left: 100px;
}
.menubtn a{
	color: white;
	font-size: 18px;
	line-height: 50px;
}
.menu ul li{
	width:130px;
	height:50px;
	float:left;
	text-align: center;
	line-height:50px;
}
.menu ul li a{
	font-size: 16px;
}
.main{
	width:100%;
}
.banner{
	width:100%;
	height:400px;
	background:#000000 url("../img/banner.png") no-repeat center center;
}
.banner .title{
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 155px;
}
.nav{
	width: 1200px;
	height: 80px;
	margin:0px auto;
}
.nav ul{
	padding: 20px 0px;
}
.nav ul li{
	width: 299px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
}
.nav ul li:nth-child(1),.nav ul li:nth-child(2),.nav ul li:nth-child(3)
{border-right: 1px #d9d9d9 solid;}
.nav ul li a{
	font-size: 18px;
}
.infobg{
	width: 100%;
	padding: 60px 0px;
	background-color:#f3f3f3;
}
.info{
	width: 1200px;
	height: 480px;
	background-color: #fff;
	margin: 0px auto;
	
}
.footer{
	width:100%;
	height:120px;
	background:#23282d
}
